/*柱图图文样式*/
.h5_component_bar_v {}
.h5_component_bar_v .line{
	height: 100%;
	float: left;
	font-size: 12px;
	position: relative;
	// margin-right: 30px;
}
.h5_component_bar_v .name{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 20px;
	text-align: center;
}
.h5_component_bar_v .rate{
	width: 15px;
	// height: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	// background-color: #ccc;
}
.h5_component_bar_v .rate .bg{
	width: 100%;
	background-color: #99c0ff;
	height: 0;
}
.h5_component_bar_v .per{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #99c0ff;
	opacity: 0;
}
.h5_component_bar_v_onLoad .rate .bg{
	height: 100%;
    transition: all 1s 0.5s;
}
.h5_component_bar_v_onLoad .per{
	opacity: 1;
	transition: all 1s 1.5s;
}
.h5_component_bar_v_onLeave .rate .bg{
	height: 0;
}
.h5_component_bar_v_onLeave .per{
	opacity: 0;
}